
.wp-elements-5ff84acb1d0df6ded0760a366cc4c7cc a:where(:not(.wp-element-button)){color:var(--wp--preset--color--white);}.wp-elements-b25393f1a87b3f9610c33623e3ab8cc7 a:where(:not(.wp-element-button)){color:var(--wp--preset--color--white);}.wp-elements-143359b0104e8cad6d40df561741e9dc a:where(:not(.wp-element-button)){color:var(--wp--preset--color--white);}

